.registerWrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}

.container{
    width: 85%;
    background-color: aliceblue;
    padding: 12px;
}

.registerHeader{
  height: 7rem;
  overflow: hidden;
}

.registerBody{
    margin-top: 3.75rem;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.registerLeft{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

/* .wowAnimation{

} */

.registerWrapper .registerBody .registerLeft .registerPara {
    margin: 30px 0;
}
.registerWrapper .registerBody .registerLeft h6 {
    color: #363636;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
}

.registerRight{
    width: 50%;
    position: relative;

}

.registerWrapper .registerBody .registerLeft .registerForm {
    height: 4rem;
    display: flex;
    flex-direction: column;
}

.registerWrapper .registerBody .registerLeft .registerForm .btnItem {
    width: 70%;
    height: 100%;
}

.registerWrapper .registerBody .registerLeft .registerForm .btnItem button{
    margin-right: 1.25rem;
    width: 40%;
    cursor: pointer;
}
 

.registerWrapper .container .registerBody .registerLeft .form{
    display: flex;
    flex-direction: column;
    height: auto;
}

.registerWrapper .container .registerBody .registerLeft .form .registerInputItem{
 width: 80%;
 height: auto;
}

.registerWrapper .container .registerBody .registerLeft .form .registerInputItem .inputItemPass{
 width: 90%;
 display: grid;
 grid-template-columns: 90% 10%;
 column-gap: 0px;
 height: 2.38rem;
}

.registerWrapper .container .registerBody .registerLeft .form .registerInputItem .inputItem input{
  height: 2.38rem;
  width: 90%;
}

.registerWrapper .container .registerBody .registerLeft .form .registerInputItemWithCredentialsInput{
    width: 80%;
    height: auto;
    margin-top: 1.25rem;
}


.registerWrapper .container .registerBody .registerLeft .form .registerInputItemWithCredentialsInput .inputItem{
    width: 100%;
}

.registerWrapper .container .registerBody .registerLeft .form .registerInputItemWithCredentialsInput .inputItem input{
    height: 2.38rem;
    width: 90%;
    
}

.registerWrapper .container .registerBody .registerLeft .form .registerInputItemWithCredentialsInput .inputItem .continue{
 width: 90%;
 display: flex;
 align-items: flex-end;
 flex-direction: column;
 margin-bottom: 2.75rem;
 height: 2.5rem
}

.registerWrapper .container .registerBody .registerLeft .form .registerInputItemWithCredentialsInput .inputItem .continue .continueBtn{
  cursor: pointer;
  height: 100%;

} 

.registerSelectGender{
    display: flex;
    flex-direction: column;
    height: 3.38rem;
    width: 72%;
    margin-top: 1.25rem;
}

.selectGender{
    height: 2.38rem;
    width: 90%;  
}

.btnItem{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-top: 1.25rem;
    height: 2.38rem;
}

.btnItem button{
    cursor: pointer;
    width: 90px;
    font-weight: bold;
}

.submitBtn{
    background: #778970;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 45px rgba(119,137,112,.15);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    padding: 9px 0;
    width: 150px;
    cursor: pointer;
}

.COHKimage{
  width: 100%;
  height: 100%
}

.errorMsg{
    background-color: rgb(186, 216, 186);
    width: 50%;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    
}


